


#page2{
    min-height:100vh;
    background-color: white;
}


#coin2 {
    padding-top: 10px; 
    position: absolute;
    padding-left: 10px; 
}

#home {
    cursor: pointer;
    position: relative;
    margin-left: 95px;
    margin-top: 60px;
}

.work {
    text-align: center;
    font-family: 'Archer';
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 60px;
    color: #44A5FF;
    margin-bottom: 10px;
}

#container{
    text-align: center;
}



#bloc-left,#bloc-right{
    display: inline-flex;
    flex-direction: column;
}